@model  RedditClone.ViewModel.VotingViewModel


@*<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("RegisterUpClick", "Posts")'">UpClick</button>*@
@*<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("RegisterDownClick", "Posts")'">DownClick</button>*@